
.ee-rem-dates-list {
    box-sizing: border-box;
    margin: 0 0 4rem;
    max-width: 45.75rem;
    overflow-x: visible;
    overflow-y: auto;
    padding: 0.375rem 0.75rem 0.375rem 0.375rem;
    width: 100%;
}

.ee-rem-dates-list--box .ee-event-datetimes-ul,
.ee-rem-dates-list--card .ee-event-datetimes-ul,
.ee-rem-dates-list--circle .ee-event-datetimes-ul,
.ee-rem-dates-list--stripe .ee-event-datetimes-ul {
    margin: 0;
    padding: 0;
}

.ee-rem-dates-list--box .ee-event-datetimes-ul .ee-event-datetimes-li,
.ee-rem-dates-list--card .ee-event-datetimes-ul .ee-event-datetimes-li,
.ee-rem-dates-list--circle .ee-event-datetimes-ul .ee-event-datetimes-li,
.ee-rem-dates-list--stripe .ee-event-datetimes-ul .ee-event-datetimes-li {
    box-sizing: border-box;
    display: flex;
    float: unset;
    justify-content: space-between;
    margin: 0 0 1.5rem;
    padding: 0 0.75rem 0 0;
    width: 100%;
}
.ee-rem-dates-list--box .ee-event-datetimes-ul .ee-event-datetimes-li {
    padding: 0.375rem 1.125rem 0.375rem 0.375rem;
}
.ee-rem-dates-list--card .ee-event-datetimes-ul .ee-event-datetimes-li {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, .25), 0 0.1875rem .5rem rgba(0, 0, 0, .25);
    color: rgba(0, 0, 0, 0.875);
    padding: 0 1.875rem 0 0;
}

.ee-rem-date__wrapper {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 2rem);
}

.ee-rem-dates-list--card .ee-rem-date__stripe,
.ee-rem-dates-list--stripe .ee-rem-date__stripe {
    flex: 0 0 0.375rem;
    margin-right: 0.5rem;
}
.ee-rem-dates-list--box .ee-rem-date__stripe {
    display: none;
}

.ee-rem-dates-list--box .ee-event-datetimes-li-DTE .ee-rem-date__date,
.ee-rem-dates-list--circle .ee-event-datetimes-li-DTE .ee-rem-date__date,
.ee-rem-dates-list--card .ee-event-datetimes-li-DTE .ee-rem-date__stripe,
.ee-rem-dates-list--stripe .ee-event-datetimes-li-DTE .ee-rem-date__stripe {
    background: var(--ee-status-color-grey);
}
.ee-rem-dates-list--box .ee-event-datetimes-li-DTU .ee-rem-date__date,
.ee-rem-dates-list--circle .ee-event-datetimes-li-DTU .ee-rem-date__date,
.ee-rem-dates-list--card .ee-event-datetimes-li-DTU .ee-rem-date__stripe,
.ee-rem-dates-list--stripe .ee-event-datetimes-li-DTU .ee-rem-date__stripe {
    background: var(--ee-status-color-blue);
}
.ee-rem-dates-list--box .ee-event-datetimes-li-DTS .ee-rem-date__date,
.ee-rem-dates-list--circle .ee-event-datetimes-li-DTS .ee-rem-date__date,
.ee-rem-dates-list--card .ee-event-datetimes-li-DTS .ee-rem-date__stripe,
.ee-rem-dates-list--stripe .ee-event-datetimes-li-DTS .ee-rem-date__stripe {
    background: var(--ee-status-color-pink);
}
.ee-rem-dates-list--box .ee-event-datetimes-li-DTA .ee-rem-date__date,
.ee-rem-dates-list--circle .ee-event-datetimes-li-DTA .ee-rem-date__date,
.ee-rem-dates-list--card .ee-event-datetimes-li-DTA .ee-rem-date__stripe,
.ee-rem-dates-list--stripe .ee-event-datetimes-li-DTA .ee-rem-date__stripe {
    background: var(--ee-status-color-green);
}
.ee-rem-dates-list--box .ee-event-datetimes-li-DTP .ee-rem-date__date,
.ee-rem-dates-list--circle .ee-event-datetimes-li-DTP .ee-rem-date__date,
.ee-rem-dates-list--card .ee-event-datetimes-li-DTP .ee-rem-date__stripe,
.ee-rem-dates-list--stripe .ee-event-datetimes-li-DTP .ee-rem-date__stripe {
    background: var(--ee-status-color-orange);
}
.ee-rem-dates-list--box .ee-event-datetimes-li-DTC .ee-rem-date__date,
.ee-rem-dates-list--circle .ee-event-datetimes-li-DTC .ee-rem-date__date,
.ee-rem-dates-list--card .ee-event-datetimes-li-DTC .ee-rem-date__stripe,
.ee-rem-dates-list--stripe .ee-event-datetimes-li-DTC .ee-rem-date__stripe {
    background: var(--ee-status-color-dark-grey);
}

.ee-rem-date__date,
.ee-rem-date__time {
    align-items: center;
    display: flex;
    height: 3.75rem;
    flex-flow: column nowrap;
    flex-grow: 0;
    justify-content: center;
    opacity: 0.875;
    text-align: center;
}

.ee-rem-date__date {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    margin-right: 1rem;
    width: 3.75rem;
}
.ee-rem-dates-list--card .ee-rem-date__date {
    margin: 0.375rem 0.75rem 0.375rem 0;
}
.ee-rem-dates-list--circle .ee-rem-date__date {
    border-radius: 99rem;
    color: white;
}
.ee-rem-dates-list--box .ee-rem-date__date {
    color: white;
}

.ee-rem-date__date--day {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.875rem;
    letter-spacing: 0.125rem;
    position: relative;
    right: -0.0625rem;
}
.ee-rem-dates-list--circle .ee-rem-date__date--day {
    font-size: 1.6875rem;
    line-height: 1.4375rem;
}

.ee-rem-date__date--month {
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.25rem;
    line-height: 1.25rem;
    position: relative;
    right: -0.125rem;
    text-transform: uppercase;
}
.ee-rem-dates-list--circle .ee-rem-date__date--month {
    font-size: 0.9375rem;
}

.ee-rem-date__details {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 10;
    justify-content: center;
    line-height: 1.25;
    max-width: calc(100% - 11.25rem);
    padding: 0;
}
.ee-rem-dates-list--card .ee-rem-date__details {
    padding: 0.75rem 0;
}

.ee-rem-date__details--name * {
    margin: 0;
}

.ee-rem-date__details--description {
    font-size: 0.875rem;
    line-height: 1.125rem;
    max-width: 100%;
    opacity: 0.875;
}
.ee-rem-date__details--description p {
    line-height: 1.3125rem !important;
    margin: 0 !important;
}

.ee-rem-date__time {
    font-size: 0.875rem;
    line-height: 0.9375rem;
    margin: 0 0.75rem 0 auto;
    width: 3.75rem;
}
.ee-rem-dates-list--card .ee-rem-date__time {
    margin: 0.75rem 0.75rem 0.75rem auto;
}

.ee-rem-date__time--sep {
    font-size: 0.75rem;
    opacity: .75;
}

.ee-rem-date__time--end {
    padding-bottom: 0.1875rem;
}

.ee-event-datetimes-ul li .download-iCal-frm {
    margin: 0.5rem 0;
}
.ee-rem-dates-list--card .ee-event-datetimes-ul li .download-iCal-frm {
    padding: 0.75rem 0;
}
